In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
import numpy as np

In [5]:
np.array(my_list)

array([1, 2, 3])

In [6]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [7]:
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
np.arange(0,12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [13]:
np.arange(0,12,2)

array([ 0,  2,  4,  6,  8, 10])

In [15]:
np.zeros(3)

array([0., 0., 0.])

In [17]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [18]:
np.ones(4)

array([1., 1., 1., 1.])

In [20]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [24]:
np.linspace(0,49)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49.])

In [25]:
np.linspace(0,11)

array([ 0.        ,  0.2244898 ,  0.44897959,  0.67346939,  0.89795918,
        1.12244898,  1.34693878,  1.57142857,  1.79591837,  2.02040816,
        2.24489796,  2.46938776,  2.69387755,  2.91836735,  3.14285714,
        3.36734694,  3.59183673,  3.81632653,  4.04081633,  4.26530612,
        4.48979592,  4.71428571,  4.93877551,  5.16326531,  5.3877551 ,
        5.6122449 ,  5.83673469,  6.06122449,  6.28571429,  6.51020408,
        6.73469388,  6.95918367,  7.18367347,  7.40816327,  7.63265306,
        7.85714286,  8.08163265,  8.30612245,  8.53061224,  8.75510204,
        8.97959184,  9.20408163,  9.42857143,  9.65306122,  9.87755102,
       10.10204082, 10.32653061, 10.55102041, 10.7755102 , 11.        ])

In [28]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [30]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [31]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [32]:
np.linspace(1,10,11)

array([ 1. ,  1.9,  2.8,  3.7,  4.6,  5.5,  6.4,  7.3,  8.2,  9.1, 10. ])

In [33]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [34]:
np.random.rand(2)

array([0.0673743 , 0.39188153])

In [35]:
np.random.rand(100)

array([0.57131498, 0.59251605, 0.76782508, 0.42387736, 0.95535001,
       0.80935049, 0.41433938, 0.24707559, 0.68202454, 0.19943192,
       0.86931485, 0.43444125, 0.74099056, 0.46527768, 0.70622658,
       0.7769911 , 0.58883551, 0.2953096 , 0.27958534, 0.45837583,
       0.67356437, 0.63800509, 0.67085673, 0.73704619, 0.04025608,
       0.1092893 , 0.53443674, 0.39268588, 0.13294316, 0.36831925,
       0.87443771, 0.49788231, 0.32912197, 0.70482881, 0.62913538,
       0.42276276, 0.27540134, 0.64793405, 0.65013997, 0.93334919,
       0.61351372, 0.03518025, 0.9741914 , 0.26237314, 0.99222752,
       0.7789033 , 0.96702247, 0.05216273, 0.29331497, 0.82479713,
       0.83439941, 0.51496505, 0.47767934, 0.19541935, 0.85430297,
       0.79522186, 0.66199702, 0.0895163 , 0.21664878, 0.58527133,
       0.89048713, 0.26023387, 0.347881  , 0.79333798, 0.35552908,
       0.90264926, 0.66913583, 0.76789496, 0.97637213, 0.15971088,
       0.21428087, 0.58814601, 0.74153984, 0.67329963, 0.84347487,
       0.2277428 , 0.49667107, 0.63692395, 0.86966027, 0.34747349,
       0.52018515, 0.0626634 , 0.04803688, 0.01878504, 0.45280808,
       0.16152986, 0.14541678, 0.4491178 , 0.88139696, 0.56592141,
       0.23273285, 0.31177536, 0.1280607 , 0.79984787, 0.3006649 ,
       0.92326913, 0.52872011, 0.9477279 , 0.07921586, 0.09717068])

In [36]:
np.random.rand(3,3)

array([[0.604529  , 0.2100131 , 0.81089877],
       [0.6079281 , 0.26410948, 0.30090104],
       [0.39815641, 0.74515267, 0.06522849]])

In [37]:
np.random.rand(3,3)*100

array([[30.43954611, 96.28906249, 12.67249858],
       [ 0.51341352, 41.05958684, 44.12639275],
       [84.94786621, 68.06266464,  5.9621383 ]])

In [39]:
from numpy import random as npr

In [40]:
npr.rand(4)

array([0.2432586 , 0.78393318, 0.8517553 , 0.62794832])

In [41]:
npr.rand(100)*100

array([62.19504475, 21.52418447,  8.38769335, 76.81780146, 54.66658748,
       62.40997456, 51.5632755 , 99.05406326, 79.59208001, 40.87907162,
        2.9020579 , 77.57135251, 95.47844159, 78.06304552,  5.4908529 ,
       99.85400948,  5.48544842, 95.94711765, 81.51340516, 99.01883979,
       27.75319253, 55.4859309 , 77.56897897, 45.67791779, 34.57052442,
       72.47936232, 21.52547852, 11.27556228, 91.99402832, 22.21012596,
       76.74608171,  2.33382046, 39.05290987, 66.00730249, 88.43101987,
       43.70772651, 49.12475237, 27.49623473, 77.67387492, 80.27317621,
       91.44372879, 70.33500735, 56.71694373, 60.79047061, 15.70172686,
       76.49298972, 49.46481551, 16.04887643, 15.86624463, 77.81293803,
        2.58113979,  4.10747523, 38.92880888, 69.57801995, 10.73316614,
       40.75070113, 37.61691817, 65.98872745, 35.97696706, 61.52495616,
       10.84839843, 29.78563763,  0.51066257, 10.25435928,  0.3896629 ,
       12.29413495,  2.33781267, 73.99360722, 84.82926613, 12.22357118,
       92.48848022,  7.01772634, 38.55430692, 43.13101169, 19.80255721,
       11.75004647, 67.35519091, 19.05831934, 82.55532741, 51.83411381,
       58.63920539, 92.1789405 , 79.04380309, 90.84764098, 71.85322728,
       36.87797154, 17.80031738, 69.19717816, 34.1329133 , 24.11724165,
       91.06645722, 17.71246679, 53.78860036, 89.37332317,  5.73161542,
       90.9461634 , 14.74114482, 35.39948245, 47.08424693, 59.36584243])

In [42]:
npr.randint(1,11,10)

array([ 9,  2,  9,  1,  6,  9,  9, 10,  4,  9])

In [43]:
npr.randint(1,12,19)

array([ 2,  5,  3,  8,  2,  8,  2,  3,  9, 10,  9,  4,  9,  7,  4,  2,  1,
        7, 11])

In [44]:
npr.randn(100)

array([-0.39947431, -0.8478582 ,  1.70085026, -0.47086216,  0.68865424,
        2.31386333, -0.9771261 , -0.8543372 , -1.40012389,  1.14467199,
       -0.45622756,  1.24804453,  0.02718309, -0.25143322, -0.84186663,
        0.36808508,  0.97210088, -0.02462154,  0.16922431,  1.02403737,
       -1.4476291 , -0.85784581, -1.62791955,  0.73432173,  0.25989477,
       -1.10137413, -1.44345054,  0.28274042, -0.4453081 , -1.32486009,
        1.03726842, -0.84633146, -0.26845039,  0.63048683, -1.45969548,
       -1.27112166, -0.93589867,  0.32228163, -0.09405534, -0.31213141,
       -0.77133446, -0.16801039,  0.37154563, -0.26785462,  1.39637844,
        0.58692348,  0.43297379,  0.2844469 , -2.26002242,  0.50107984,
        1.05085989,  1.48955427,  0.25011347, -0.49535134,  0.36672854,
        0.75834242,  1.26266363,  0.11789016, -0.68530713, -1.48439652,
        0.09706024, -0.68116641, -1.69165765,  0.26362318, -0.61437139,
       -0.76776448, -0.44612374,  0.78997157, -0.9531843 ,  0.68793413,
       -0.40869251, -0.53926363,  0.15762292, -0.50978899,  0.12655716,
       -0.53787556, -0.68324221,  0.22321465,  1.40008805,  0.09746179,
       -0.11488636, -0.0843983 , -0.28188416, -0.13695982, -0.79283765,
        0.49593909, -0.39747969, -1.74664234,  0.33811556,  1.10677245,
        1.03767167, -0.54194924, -0.06572741,  0.516694  ,  1.04908777,
        0.63011822, -0.99995091, -1.4676034 , -1.21601249,  2.03585083])

In [45]:
help(npr.randn)

Help on built-in function randn:

randn(...) method of mtrand.RandomState instance
    randn(d0, d1, ..., dn)

    Return a sample (or samples) from the "standard normal" distribution.

    If positive, int_like or int-convertible arguments are provided,
    `randn` generates an array of shape ``(d0, d1, ..., dn)``, filled
    with random floats sampled from a univariate "normal" (Gaussian)
    distribution of mean 0 and variance 1 (if any of the :math:`d_i` are
    floats, they are first converted to integers by truncation). A single
    float randomly sampled from the distribution is returned if no
    argument is provided.

    This is a convenience function.  If you want an interface that takes a
    tuple as the first argument, use `numpy.random.standard_normal` instead.

    Parameters
    ----------
    d0, d1, ..., dn : int, optional
        The dimensions of the returned array, should be all positive.
        If no argument is given a single Python float is returned.

    Returns
    -------
    Z : ndarray or float
        A ``(d0, d1, ..., dn)``-shaped array of floating-point samples from
        the standard normal distribution, or a single such float if
        no parameters were supplied.

    See Also
    --------
    random.standard_normal : Similar, but takes a tuple as its argument.

    Notes
    -----
    For random samples from :math:`N(\mu, \sigma^2)`, use:

    ``sigma * np.random.randn(...) + mu``

    Examples
    --------
    >>> np.random.randn()
    2.1923875335537315 #random

    Two-by-four array of samples from N(3, 6.25):

    >>> 2.5 * np.random.randn(2, 4) + 3
    array([[-4.49401501,  4.00950034, -1.81814867,  7.29718677],  #random
           [ 0.39924804,  4.68456316,  4.99394529,  4.84057254]]) #random

In [46]:
arr = np.arange(25)
ranarr = np.random.randint(0,50,10)

In [47]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [48]:
ranarr

array([28, 41,  7, 34, 49, 41,  7,  8,  0, 16])

In [50]:
arr.shape

(25,)

In [52]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [53]:
arr.dtype

dtype('int32')

In [54]:
arr = np.arange(0,11)

In [55]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [56]:
arr[3]

3

In [57]:
arr[0]

0

In [58]:
arr[2:4]

array([2, 3])

In [60]:
arr[:5]

array([0, 1, 2, 3, 4])

In [61]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [62]:
arr = np.arange(1,11)

In [63]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [64]:
arr[1:4] = 99

In [65]:
arr

array([ 1, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [66]:
arr = np.arange(1,11)

In [74]:
slice_ex = arr[1:6]

In [75]:
slice_ex

array([2, 3, 4, 5, 6])

In [76]:
slice = 100

In [77]:
slice

100

In [79]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [80]:
slice_ex

array([2, 3, 4, 5, 6])

In [81]:
slice_ex[:] = 11

In [82]:
slice_ex

array([11, 11, 11, 11, 11])

In [83]:
arr

array([ 1, 11, 11, 11, 11, 11,  7,  8,  9, 10])

In [84]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))

#Show
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [85]:
arr_2d[1]

array([20, 25, 30])

In [90]:
arr

array([ 1, 11, 11, 11, 11, 11,  7,  8,  9, 10])

In [91]:
arr_2d[1,2]

30

In [93]:
arr_2d[2,1]

40

In [94]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [95]:
arr_2d[1:3, 2:3]

array([[30],
       [45]])

In [97]:
arr2d = np.zeros(100)

In [99]:
arr2d

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [100]:
arr2d.reshape(10,10)

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [101]:
arr2d.shape

(100,)

In [103]:
arr2d = np.zeros((10,10))

In [104]:
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [105]:
arr2d.reshape

In [106]:
arr2d.shape

(10, 10)

In [107]:
arr2d[[1,2,3,4]]

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [108]:
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [109]:
arr2d[[1,2,3,4]]

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [110]:
arr = np.arange(1,11)

In [111]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [112]:
arr > 4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [113]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [114]:
arr[arr>2]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [115]:
arr[arr<2]

array([1])

In [117]:
arr>1

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [118]:
arr<11

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [121]:
arr = np.array([1,3,5,23,2])

In [122]:
arr[arr>20]

array([23])

In [123]:
arr = np.arange(0,10)

In [124]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [125]:
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [126]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [127]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [134]:
import pandas as pd
from numpy.random import randn

In [135]:
npr.seed(101)

In [136]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [137]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [139]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [140]:
type(df)

pandas.core.frame.DataFrame

In [142]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [144]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [145]:
df['new'] = df['W'] + df['Z']

In [146]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [147]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [148]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [149]:
df.drop('new', axis = 1, inplace=True)

In [150]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [151]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [152]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [153]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [154]:
df.iloc[2,1]

0.7401220570561068

In [155]:
df.loc['B', 'Y']

-0.8480769834036315

In [156]:
df.loc[['A', 'B'],['W', 'Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [157]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [158]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [159]:
booldf = df > 0

In [160]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [161]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [163]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [164]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [168]:
resultdf = df[df['Z']<0]

In [169]:
resultdf['X']

C    0.740122
Name: X, dtype: float64

In [170]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [173]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967